@font-face {
    font-family: League;
    src: url(Fonts/League.otf);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbefff;
}

#main-header {
    font-family: League, Arial, sans-serif;
    font-size: 50px;
    background-color: #3d3d3d;
    color: goldenrod;
    text-decoration: none;
    padding: 0px;
    text-align: center;
}

#header-box {
    /*background-color: hotpink; [USED TO CHECK CLICKABLE AREA]*/
    color: goldenrod;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    height: 15%;
}

#main-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: #5e5e5e;
    padding: 10px;
}

#main-links > a {
    /*background-color: hotpink; [USED TO CHECK CLICKABLE AREA]*/
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 15%;
}

main {
    background-color: honeydew;
    /*adding: 1vh 1vw 1vh 1vw;*/
    width: 90%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div > article{
    padding: 15px;
}

#main-content > aside{
    background-color: #dbefff;
    padding: 10px;
    padding-right: 20px;
}

#main-content > aside > section > nav > ul > li{
    list-style: circle;
}

#main-content > aside > section > nav > ul > li > a{
    color: black;
    text-decoration: none;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.6;
}

.author-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    display: block;
    text-align: center;
}

#final-footer > section > nav > ul > div > li > a{
    background-color: #3d3d3d;
    color:white
}

#final-footer{
    font-family: League, Arial, sans-serif;
    background-color: #3d3d3d;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#end-links{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    list-style: none;
}

#end-links > div > a{
    color: goldenrod;
    text-decoration: none;
}

#end-links > div > a > h2{
    font-size: 60px;
}

#end-links > div > li > a{
    padding-right: 40px;
    text-decoration: none;
} 
